[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiokafka = "==0.8.0"

[dev-packages]
mypy = "*"
pytest = "*"
pytest-cov = "*"
pydocstyle = "*"
yapf = "*"
isort = "*"
pylint = "*"

[requires]
python_version = "3.9"
